python-dotenv
gTTS
flask
pytest
bitsandbytes
trl
flask_cors
fuzzywuzzy
fuzzysearch
python-Levenshtein
diffusers[torch]
langchain @ git+https://github.com/fragro/langchain.git
packaging==21.3
torchmetrics<0.8
numpy==1.23.5
redis
rq
flask-sqlalchemy
flask-migrate
psycopg2-binary
transformers @ git+https://github.com/huggingface/transformers.git
flask_sse
psycopg2-binary
uuid
flask-swagger-ui
Werkzeug
python-dotenv
flask-sse
deeplake
tiktoken
sentence_transformers
bcrypt
pymongo
inflect