python-dotenv
gTTS
flask
pytest
bitsandbytes
trl
flask_cors
fuzzywuzzy
fuzzysearch
python-Levenshtein
diffusers[torch]
langchain==0.0.189
packaging==21.3
torchmetrics<0.8
numpy==1.23.5
redis
rq
flask-sqlalchemy
flask-migrate
psycopg2-binary
transformers @ git+https://github.com/huggingface/transformers.git
flask_sse
psycopg2-binary
uuid
flask-swagger-ui
Werkzeug
python-dotenv
flask-sse
deeplake==3.6.0
tiktoken
sentence_transformers
bcrypt
pymongo
inflect
tokenizers>=0.13.3
pygments
pygments-solarized-style
fastapi
uvicorn
markdown
aioredis
asyncio
passlib
jinja2