.row
  .col-1
  .col-2
    .control-panel.container
      %h2 Control Panel
      -# .form-check
      -#   %input.form-check-input{type: "checkbox", id: "checkbox1"}/
      -#   %label.form-check-label{for: "checkbox1"} Checkbox 1
      -# .form-check
      -#   %input.form-check-input{type: "checkbox", id: "checkbox2"}/
      -#   %label.form-check-label{for: "checkbox2"} Checkbox 2
      .form-group
        %button#reset-history.btn.btn-primary{type: "button"} Reset History
      .form-group
        %h5 Name
        %input#name-input.form-control
      .form-group
        %h5 Context
        %textarea#context-input.form-control{rows: "3"}
  .col-8
    .container
      %h1 Welcome to Elder Link!
      %p
        The current time is
        = Time.now

      .chat-widget
        %ul.chat-history{style:"max-height: 500px;overflow: scroll;"}
          %li.chat-log
            %p Robot: Hello
        #chat-input.row
          %input#user-input.col.form-control{type: "text"}
          %button#send-message.btn.btn-primary.col-2 Enter