.container
  %h1 Welcome to Elder Link!
  %p
    The current time is
    = Time.now

  .chat-widget
    %ul.chat-history{style:"max-height: 500px;overflow: scroll;"}
      %li.chat-log
        %p Link: Hello
    #chat-input.row
      %input#user-input.col.form-control{type: "text"}
      %button#send-message.btn.btn-primary.col-2 Enter