// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.chat-history {
  max-height: 300px;
  overflow-y: scroll;
}
.control-panel {
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-check {
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 20px;
  }
}