@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  min-height: 128px;
  /* border-radius: 4px;
  font-size: 13px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  appearance: none;
  border-width: 0px;
  font-family: inherit;
  margin: 0px;
  padding: var(--space-1);
  width: 100%;
  font-variant-numeric: tabular-nums;
  position: relative;
  min-height: 80px;
  resize: vertical; */
}