@import url('https://fonts.googleapis.com/css2?=IBM+Plex+Mono:wght@300;400;700&family=Inter&display=swap');

body {
  margin: 0;
  font-family:  'IBM Plex Mono', monospace;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
